{{#each users as |user index|}}
    <tr>
        <td title="{{user.email}}">{{user.name}}</td>
        <td>{{user.used_days}}</td>
        <td>{{user.remaining_days}}</td>
        <td>{{user.days_allowed}}</td>
        <td></td>
    </tr>
{{/each}}
